@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* border: solid 1px red; */
  font-family: "Plus Jakarta Sans", sans-serif;
  --blue: hsl(219, 85%, 26%);
  --very-dark-blue: hsl(224, 21%, 14%);
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f7fafd;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
